* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

#page-header ul {
    list-style-type: none;
    padding-left: 0px;
    overflow: hidden;
}

#page-header ul li a {
    color: rgb(198, 198, 198);
    transition: 0.3s;
    display: block;
    padding: 15px;
    font-size: 15px;
    word-spacing: 2px;
    letter-spacing: 3px;
    font-family: Century Gothic Thin;
    text-decoration: none;
}

#page-header ul li a:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

select, input:focus {
    outline: none;
    border: none;
}


#page-header ul li {
    float: left;
}

#page-header {
    background-color: #3D30A2;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.swal2-popup {
    font-family: Century Gothic Thin;
}


#form-box {
    margin: 0 auto;
    padding-top: 55px;
    overflow: hidden;
    font-family: Century Gothic Thin;
    font-weight: bold;
    font-size: 15px;
}

#form-box form table {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    overflow: hidden;
}

#img-table table {
    margin: 0 auto;
    padding: 55px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    border-radius: 15px;
}

#img-table table tr td {
    padding: 20px;
}

#img-table table tr td img {
    border-radius: 10px;
    width: 50%;
    height: auto;
    image-rendering: optimizeSpeed;
    transition: 0.5s;
}

#img-table table tr td p {
    border-radius: 10px;
    scale: 100%;
    height: auto;
    transition: 0.5s;
}
#img-scale {
    text-align: justify;
    filter: contrast(65%);
    width: auto;
    image-rendering: optimizeSpeed;
    transition: 0.5s;
}

#img-scale:hover {
    font-size: 15px;
    text-align: justify;
    filter: contrast(110%);
    border-radius: 15px;
    scale: 95%;
}

#img-table table, #img-table table tr td p {
    transition: 0.5s;
}

#img-table table:hover {
    width: 55%;
}

/* #img-table table tr td img:hover {
    border-radius: 10px;
    width: 80%;
    height: auto;
    image-rendering: optimizeSpeed;
}

#img-table table tr td p:hover {
    border-radius: 10px;
    scale: 110%;
    height: auto;
    image-rendering: optimizeSpeed;
} */

#img-table {
    padding: 15px;
}

#saveForm {
    color: white;
    font-size: 15px;
    background-color: #00ADFF;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
}
#resetForm {
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(191W, 191, 191);
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
}
#saveForm, #resetForm {
    transition: 0.5s;
}

#saveForm:hover {
    filter: brightness(70%);
}

#resetForm:hover {
    filter: brightness(90%);
}

input[type="text"], input[type="email"], input[type="date"], select {
    width: 100%;
    height: 15%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
} 

input[type="text"], input[type="email"], input[type="date"], select {
    border: 0.1px solid #0078d4;
    border-radius: 5px;
} 

.seperator {
    padding: 5px;
}


#tbl-container {
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
    font-family: Century Gothic Thin;
    font-weight: bold;
    font-size: 15px;
}

#tbl-container form table {
    margin: 0 auto;
    padding: 25px;
    overflow: hidden;
}
#tbl-container form table th td {
    border: 1px solid black;
}

#dashboard-page {
    padding: 15px;
}

#dashboard-page #img-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#dashboard-page #img-container img {
    filter: contrast(45%);
    image-rendering: optimizeSpeed;
    padding-left: 15px;
    width: 30%;
    transition: 0.3s;
}

#dashboard-page #img-container img:hover {
    filter: contrast(100%);
}

#dashboard-page #main-container {
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}